.login-pf {
    background: none;
}

.kcHeaderWrapperClass {
    display: flex;
    justify-content: center;
}

.kcLogo {
    width: 20rem;
    margin: auto;
}

body.kcBodyClass {
    background: url(./assets/keyCLIC-bg.svg) no-repeat center fixed;
    background-size: cover;
}

.kcFormCardClass {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
}

.kcFormPasswordVisibilityButtonClass {
    position: absolute;
    right: 0rem;
    z-index: 100;
    border: none;
    border-radius: 1rem;
    background: transparent;
    height: 100%;
    width: 2rem;
    font-size: 1rem;
}

.kcInputGroup, .kcInputClass {
    border-radius: .375rem;
    border-color: lightgrey;
    position: relative;
}

.kcInputClass {
    padding-right: 2rem;
}
.kcButtonClass {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    width: 100%;
}

.kcButtonClass:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.kcButtonClass:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.kcButtonClass:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(37, 117, 252, 0.5);
}